{% extends 'base.html' %}
{% block content %}
<h1>MATCH DAY</h1>

<h5>NPM: </h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<hr>

{% if not product_list %}
<p>Belum ada product pada Match Day.</p>
{% else %}

{% for product in product_list %}
<div>
    {% if product.thumbnail %}
    <img src="{{ product.thumbnail }}" alt="thumbnail" width="150">
    <br />
    {% endif %}

    <h2><small>{% if product.is_featured %} Featured | {% endif %}</small> <a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>

    <h2>Rp{{ product.price }}</h2>

    <p><b>{% if product.is_product_popular %} Popular in 
    {% endif %} {{ product.get_category_display }}</b> | Rating: {{ product.rating }}/5.0</p>

    <p>{{ product.description|truncatewords:25 }}...</p>

    <p><a href="{% url 'main:show_product' product.id %}"><button>See Details</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}
{% endblock content %}